@model WaterTreatment.Web.Models.SystemCreateModel
<div class="container-fluid" id="createPage" style="display: none;" data-bind="visible: true">
    @using (Html.BeginForm("Create", "System", new { }, FormMethod.Post, new { @class = "form-horizontal", id = "createForm" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <div class="form-group alert alert-warning" style="margin-top:25px; margin-bottom:25px;" data-bind="visible: isDirty">
            <span>
                Parameters and Requirements bounds that are in edit mode are not saved. You must click ok and then click save to persist the data.
            </span>
        </div>
        <div class="form-group">
            @Html.Label("System Type Name", new { @class = "col-md-2 control-label" })
            <div class="col-md-10 form-group" data-bind="validationElement: $data.name">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", data_bind = "textInput: $data.name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Is Active</label>
            <div class="col-md-10" data-bind="validationElement: $data.isActive">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="type" value="true" data-bind="checked: isActive, bsChecked: isActive" />Active
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="type" value="false" data-bind="checked: isActive, bsChecked: isActive" />Inactive
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Parameters</label>
            <div class="col-md-10" data-bind="foreach: { data: parameters, as: '$parameter' }">
                <!-- ko ifnot: inEditMode -->
                <div class="form-control-static">
                    <div class="row">
                        <ul class="list-inline" style="margin-top:-7px">
                            <li>
                                <label class="control-label">Name</label>
                                <span data-bind="text: name"></span>
                            </li>
                            <li>
                                <label class="control-label">Type</label>
                                <span data-bind="text: displayType"></span>
                            </li>
                            <li>
                                <label class="control-label">Unit</label>
                                <span data-bind="text: unit"></span>
                            </li>
                            <li>
                                <label class="control-label">Use</label>
                                <span data-bind="text: use"></span>
                            </li>
                            <li>
                                <a href="#" role="button" data-bind="click: edit">Edit</a>
                                <a href="#" role="button" data-bind="click: function() { $parameter.remove(false); }">Remove</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <label class="control-label">Requirement Source</label>
                        <span data-bind="text: source"></span>
                    </div>
                </div>
                <div data-bind="foreach: { data: $parameter.bounds, as: '$bound' }">
                    <!-- ko ifnot: inEditMode -->
                    <div class="form-control-static col-md-offset-1">
                        <label class="control-label">Range:</label>
                        <span data-bind="text: displayName"></span>
                        <a href="#" role="button" data-bind="click: edit">Edit</a>
                        <a href="#" role="button" data-bind="click: function() { $bound.remove(false); }">Remove</a>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: inEditMode -->
                    <div class="col-md-offset-1">
                        <div class="row" style="padding-bottom: 1.0em">
                            <div class="col-md-2">
                                <label class="control-label">Range Type</label>
                            </div>
                            <div class="col-md-10 form-group" data-bind="validationElement: type">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="type" value="Value" data-bind="checked: type, bsChecked: type" />Value
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" value="Color" data-bind="checked: type, bsChecked: type" />Color
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 1.0em">
                            <div class="col-md-2">
                                <label class="control-label">Range</label>
                            </div>
                            <div class="col-md-10 form-group" data-bind="validationElement: range">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="range" value="Both" data-bind="checked: range, bsChecked: range" />Both
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="range" value="Minimum" data-bind="checked: range, bsChecked: range" />Minimum
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="range" value="Maximum" data-bind="checked: range, bsChecked: range" />Maximum
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="visible: minValueVisible">
                            <div class="col-md-2">
                                <label class="control-label">Minimum Value</label>
                            </div>
                            <div class="col-md-10 form-group" data-bind="validationElement: minValue">
                                <!-- ko if: valueType -->
                                <input type="text" class="form-control" style="width: 25%" data-bind="textInput: minValue" />
                                <!-- /ko -->
                                <!-- ko ifnot: valueType -->
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="minValue" value="1" data-bind="checked: minValue, bsChecked: minValue" />Light
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="minValue" value="2" data-bind="checked: minValue, bsChecked: minValue" />Medium
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="minValue" value="3" data-bind="checked: minValue, bsChecked: minValue" />Dark
                                    </label>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 1.0em" data-bind="visible: minValueVisible">
                            <div class="col-md-2">
                                <label class="control-label">Effect</label>
                            </div>
                            <div class="col-md-10 form-group">
                                <input type="text" class="form-control" style="width: 75%" data-bind="textInput: minDescription" />
                            </div>
                        </div>
                        <div class="row" data-bind="visible: maxValueVisible">
                            <div class="col-md-2">
                                <label class="control-label">Maximum Value</label>
                            </div>
                            <div class="col-md-10 form-group" data-bind="validationElement: maxValue">
                                <!-- ko if: valueType -->
                                <input type="text" class="form-control" style="width: 25%" data-bind="textInput: maxValue" />
                                <!-- /ko -->
                                <!-- ko ifnot: valueType -->
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="maxValue" value="1" data-bind="bsChecked: maxValue" />Light
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="maxValue" value="2" data-bind="bsChecked: maxValue" />Medium
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="maxValue" value="3" data-bind="bsChecked: maxValue" />Dark
                                    </label>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 1.0em" data-bind="visible: maxValueVisible">
                            <div class="col-md-2">
                                <label class="control-label">Effect</label>
                            </div>
                            <div class="col-md-10 form-group">
                                <input type="text" class="form-control" style="width: 75%" data-bind="textInput: maxDescription" />
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 1.0em">
                            <div class="col-md-2">
                                <label class="control-label">Restrictions</label>
                            </div>
                            <div class="col-md-10 form-group" data-bind="validationElement: type">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="type" value="true" data-bind="bsChecked: isEnforced" />Enforced
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" value="false" data-bind="bsChecked: isEnforced" />Recommended
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 1.0em">
                            <div class="col-md-2">
                                <label class="control-label">Scope</label>
                            </div>
                            <div class="col-md-10 form-group" data-bind="validationElement: type">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="type" value="true" data-bind="bsChecked: isGlobal" />Global
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="type" value="false" data-bind="bsChecked: isGlobal" />Local
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- ko if: showSite -->
                        <div class="row" style="padding-bottom: 1.0em">
                            <div class="col-md-2">
                                <label class="control-label">Local Site</label>
                            </div>
                            <div>
                                <select class="form-control" data-bind="options: $root.sites, value: siteId, optionsText: 'Name', optionsValue: 'Id', multiselect: {
                                    maxHeight: 400,
                                    includeSelectAllOption: false,
                                    enableFiltering: true,
                                    filterBehavior: 'text',
                                    enableCaseInsensitiveFiltering: true,
                                    buttonWidth: '300px'
                                }"></select>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="row">
                            <div class="col-md-1 form-control-static">
                                <a href="#" role="button" data-bind="text: saveLabel, click: save"></a>
                            </div>
                            <div class="col-md-1 form-control-static">
                                <a href="#" role="button" data-bind="click: cancel">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="form-control-static col-md-offset-1">
                    <a href="#" role="button" data-bind="click: addBound">Add Requirement Range</a>
                </div>
                <!-- /ko -->
                <!-- ko if: inEditMode -->
                <div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Name</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: name">
                            <input type="text" class="form-control" data-bind="textInput: name" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Frequency Value</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: frequency">
                            <input type="text" class="form-control" data-bind="textInput: frequency" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Type</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: parameterTypeId">
                            <select class="form-control" style="width: 25%" data-bind="options: parameterTypes, value: parameterTypeId, optionsText: 'Name', optionsValue: 'Id'"></select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Unit</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: unit">
                            <input type="text" class="form-control" style="width: 25%" data-bind="textInput: unit" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Req Source</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: source">
                            <input type="text" class="form-control" data-bind="textInput: source" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Req Link</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: link">
                            <input type="text" class="form-control" data-bind="textInput: link" />
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 1.0em">
                        <div class="col-md-2">
                            <label class="control-label">Use</label>
                        </div>
                        <div class="col-md-10 form-group" data-bind="validationElement: use">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="use" value="Measurement" data-bind="checked: use, bsChecked: use" />Measurement
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="use" value="Independent Quality Assurance" data-bind="checked: use, bsChecked: use" />Independent Quality Assurance
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="use" value="Both" data-bind="checked: use, bsChecked: use" />Both
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 form-control-static">
                            <a href="#" role="button" data-bind="text: saveLabel, click: save"></a>
                        </div>
                        <div class="col-md-1 form-control-static">
                            <a href="#" role="button" data-bind="click: cancel">Cancel</a>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <a href="#" role="button" data-bind="click: addParameter">Add Parameter</a>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default pull-right" data-bind="click: save, disable: $root.isProcessingRequest() || !$root.isValid()">Save System Type</button>
            </div>
        </div>
    }
</div>
